<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Search</title>
        <style>
            #image{
                padding-top: 105px;
                text-align: center;



            }
            #bar{
                border-radius: 24px;
                border-width: 1px;
                border-color: black;
                color: white;
                height: 44px;
                min-width: 580px;
                max-width: 600px;
                background-color: white;

            }


        </style>
    </head>
    <body style="background-color:white;">

        <div id="image" >
            <img src="images/titan.png" style="width:100px; height:100px" alt="Titan">

                <form action="web/search" style="padding: 20px">
                    <input style="color: black;" type="text" name="q" id="bar" >
                    <div style="margin: 30px;color: black;"/>
                        <input type="submit" value="Rechercher" style="background-color: #35363A; color:white;border-radius: 5px;padding: 10px;border-color:transparent;cursor: pointer; ">
                        
                    </div>
                </form>


        </div>

        <div >
            

        </div>







    </body>
</html>